<div class="item"
    v-init="y"
    v-info="info"
    v-bind:type="type"
    v-bind:style="style"
    v-bind:texture="texture"
    v-bind:fold="fold"
    v-on:mousedown="onMouseDown" 
>
    <div class="warp">
        <div class="text">
            <span>
                <i class="fa fa-times-circle"
                    v-if="type==='error'"
                ></i>
                <i class="fa fa-warning"
                    v-if="type==='warn'"
                ></i>
            </span>
            
            <span title="{{title}}">
                <i class="fold fa fa-caret-down"
                    v-if="info && !fold"
                    v-on:click="onHide"
                ></i>
                <i class="fold fa fa-caret-right"
                    v-if="info && fold"
                    v-on:click="onShow"
                ></i>
                {{title}}
            </span>
            
        </div>
        <span
            v-if="num>1"
        >{{num}}</span>
    </div>
    <div class="info">
        <template
            v-for="item in foldInfo"
            track-by="$index"
        >
            <div
                :style="'font-size: ' + (fontsize-1) + 'px; line-height: ' + (lineheight-2) + 'px; height: ' + (lineheight-2) + 'px;'"
            >
                <pre>{{item.info}}</pre>
                <span class="path">{{item.path}}</span>
            </div>
        </template>
    </div>
</div>