:host {
    @apply(--layout-vertical);
}

#view {
    border: 1px solid black;

    box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.2);
    background: #333;
}

ul {
    padding: 0px;
    margin: 0px;

    overflow: auto;
}

editor-console-item {
    background: #222;
}

editor-console-item:nth-child(even) {
    background: #292929;
}
