:host {
    display: block;
}

.item {
    display: flex;
    flex-direction: row;

    list-style-type: none;
    padding: 5px;
    padding-left: 10px;
    overflow-x: hidden;
    font-size: 14px;

    color: #999;
}

.item.log {
    color: #999;
}
.item.error {
    color: #900;
}
.item.warn {
    color: #990;
}

.item.info {
    font-weight: bold;
    color: #09f;
}
.item.failed {
    font-weight: bold;
    color: #900;
}
.item.success {
    font-weight: bold;
    color: #090;
}

.icon {
    display: flex;
    align-items: center;
    height: 15px;
    width: 20px;
    min-width: 20px;
    margin-top: 2px;
    padding-left: 4px;
}

.fold {
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-top: 2px;
    width: 5px;
    height: 15px;

    color: #555;
    cursor: pointer;
}

.text {
    margin-left: 4px;
    margin-top: 2px;
    -webkit-user-select: initial;
    cursor: text;
}

.text::selection {
    background-color: #007acc;
}

.more::after {
    content: " ( . . . ) ";
}

.info {
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.detail {
    display: none;
    -webkit-user-select: initial;
    cursor: text;
}

:host[folded] .info{
    white-space: pre-wrap;
}

:host[folded] .detail {
    display: inline-block;
}

:host[folded] .more::after {
    content: "";
}
