:host {
    display: block;
}

.item {
    display: flex;
    flex-direction: row;

    list-style-type: none;
    padding: 5px;
    padding-left: 10px;
    overflow-x: hidden;

    color: #999;
    font-size: 14px;
}

.item.log {
    color: #999;
}
.item.error {
    color: #900;
}
.item.warn {
    color: #990;
}

.item.info {
    font-weight: bold;
    color: #09f;
}
.item.failed {
    font-weight: bold;
    color: #900;
}
.item.success {
    font-weight: bold;
    color: #090;
}

.icon {
    width: 20px;
    min-width: 20px;
    margin-top: 2px;
    padding-left: 4px;
}

.fold {
    margin-right: 5px;
    color: #555;
    cursor: pointer;
    width: 5px;
    height: 15px;
}

.text {
    font-family: 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
    margin-left: 4px;
    font-size: 12px;
    margin-top: 2px;
    -webkit-user-select: initial;
    cursor: text;
}

.text::selection {
    background-color: #007acc;
}

.detail {
    white-space: nowrap;
    display: flex;
}

:host[folded] .detail{
    white-space: pre-wrap;
}
